*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background: rgba(0, 0, 0, 0.6)url('./royal-enfield-himalayan.avif') center center fixed;
    background-size: cover;

}
.container{
    margin: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}
.navbar ul li a{
    padding: 9px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    
    
    
}
.navbar ul li a:hover{
    color: red;

}
.content{
    color: antiquewhite;
    font-size: 10px;
}
.container h1{
    color: aliceblue;
}




